$desktop: 840px;

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

.face-recognition {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;

	.test {
		@include desktop {
			width: 800px;
		}
	}
}
.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}
